body {
    font-family: Verdana, monospace, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    background-image: url('https://i.pinimg.com/474x/56/b3/4c/56b34cbd94d3994cbfaab97f72047a48.jpg');
}
